<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecommerceapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OrdersInProgress"></activity>
        <activity android:name=".MyEarnings" />
        <activity android:name=".CourierResetPasswordActivity" />
        <activity android:name=".CourierNotifications" />
        <activity android:name=".CourierManageAccount" />
        <activity android:name=".CourierDashboardActivity" />
        <activity android:name=".CourierCreateAccount" />
        <activity android:name=".CourierLoginActivity" />
        <activity android:name=".CourierLogin" />
        <activity android:name=".addProducts" />
        <activity android:name=".profile" />
        <activity android:name=".orderList" />
        <activity android:name=".myProducts" />
        <activity android:name=".deliveryList" />
        <activity android:name=".dashboard" />
        <activity android:name=".adminLogin" />
        <activity android:name=".createAccount" />
        <activity android:name=".MyProfile" />
        <activity android:name=".ViewMyProfile" />
        <activity android:name=".EditProfile" />
        <activity android:name=".PendingListActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".GetUserDetailsForDelivery" />
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>